@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");


$accent: #3671E9;
$primary-bg: #0D0D2B;
$neutral-white: #FFFFFF;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;
$secondary-bg: #2B076E;
$mining-bg: #3671E9;


// GENERAL STYLES STARTS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  color: $neutral-white;
  font-weight: 400;
  background-color: $primary-bg;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 400;
}

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: contain;
}

i {
  font-size: 25px;
  color: #ffffff;
  line-height: 2.25rem;
  cursor: pointer;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  line-height: 150%;
  border: none;
  border-radius: 2rem;
  background-color: $accent;
  color: $neutral-white;
  cursor: pointer;
}

.btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

// padding for buttons
.p-1,
.p-1x {
  padding: 0.25rem 1rem;
}

.p-2,
.p-2x {
  padding: 0.5rem 1rem;
}

.p-3 {
  padding: 0.5rem 2rem;
}

.p-4 {
  height: 4rem;
  padding-left: 2rem ;
  padding-right: 1.5rem ;
}

// text color and typography
.gray-text3 {
  color: $gray-3;
}

.gray-text4 {
  color: $gray-4;
}

.gray-text5 {
  color: $gray-5;
}

.gray-text6 {
  color: $gray-6;
}

.dark-text {
  color: $primary-bg;
}

.small-text {
  font-size: .9rem;
  line-height: 150%;
  letter-spacing: 0.01rem;
}

.std-text {
  font-size: 1rem;
  line-height: 150%;
}

.mid-text {
  font-weight: 500;
  font-size: .9rem;
  line-height: 150%;
  letter-spacing: 0.04rem;
}

.lg-mid {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 125%;
}

.lg-midx {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 125%;
}

.lg {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 125%;
}

.lg-x {
  font-weight: 700;
  font-size: 2rem;
  line-height: 125%;
}
// GENERAL STYLES ENDS


// HEADER STARTS
header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  position: relative;
  overflow-x: hidden;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 899px) {
    .menu-slide {
      position: absolute;
    }

    .slide-content {
      position: fixed;
      top: 0;
      bottom: 0;
      right: -100%;
      background-color: rgba(37,37,64,1);
      width: 100%;
      height: 100vh;
      transition: all .5s linear;
      z-index: 20;

      &.active {
        right: 0;
      }
    }

    .slide-inner {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .fa-times {
      position: absolute;
      top: 1.4rem;
      right: 1.4rem;
      width: 25px;
      height: 25px;
      z-index: 2;
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
  }

  .primary-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
    
  .pry-nav-list {
    line-height: 175%;

    a {
      padding: .2rem;
      font-size: 1.4rem;
      letter-spacing: 0.01em;
      color: $neutral-white;

      &:hover {
        border-bottom: 2px solid $accent;
      }
    }
  }

  .secondary-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .login {
    padding: .4rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 150%;
    color: $neutral-white;
  }
    
  .divider {
    color: hsla(0, 0%, 95%, .3);
    margin-right: 1.5rem;
    margin-left: 1.2rem;
  }

  .reg-btn {
    font-size: 1.4rem;
  }
}
// HEADER ENDS

// MAIN STARTS
// Home Section Starts
main {
  overflow-x: hidden;
}

.home {
  padding-bottom: 1rem;
  padding-top: 2rem;
  position: relative;

  .value-proposition {
    max-width: 588px;
  }

  .base {
    width: 288px;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .save-thumb {
    padding: .2rem .4rem;
    background: #FFFFFF;
    border-radius: 32px;
    margin-left: .25rem;
  }

  .base-text {
    font-size: .8rem;
    margin-right: .6rem;
  }

  .hero-title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 125%;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }

  .btn {
    font-size: 1.125rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .hero {
    max-width: 604px;
  }

  .hero-ribbon1,
  .hero-ribbon2 {
    position: absolute;
  }

  .hero-ribbon1 {
    @media (max-width: 320px) {
      top: 400px;
    }

    top: 250px;
    left: 0;
    }

  .hero-ribbon2 {
    bottom: 0;
    right: 0;
  }
}
// Home Section Ends


// Why-us Section Starts
.why-crappo {
  padding-top: 5rem;
  padding-bottom: 1rem;
  position: relative;

  .numbers {
    width: 100%;
  }

  .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-transform: capitalize;
    margin-bottom: 1.2rem;
  }

  .stats-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  .desc {
    width: 190px;
  }

  .stats-heading {
    text-transform: uppercase;
    padding-bottom: .2rem;
  }

  .why-choose-crappo {
    flex-direction: column-reverse;
    gap: 1.5rem;
    margin-top: 4rem;
  }

  .illustration {
    max-width: 650px;
  }

  .reason-heading {
    margin-bottom: 1.25rem;
  }

  .reason-text {
    margin-bottom: 1.5rem;
  }

  .why-btn {
    font-size: 1.125rem;
    margin-bottom: 2.5rem;
  }

  .why-ribbon1,
  .why-ribbon2,
  .why-ribbon3 {
    position: absolute;
  }

  .why-ribbon1 {
    top: 26%;
    right: 0;
  }

  .why-ribbon2 {
    bottom: 0;
    right: 0;
  }

  .why-ribbon3 {
    bottom: 0;
    left: 0;
  }
}
// Why-us Section Ends


// Earnings Section Starts
.earnings-check {
  height: 457px;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  // position: relative;


  .text-center {
    max-width: 622px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .check-earnings-title {
    padding-bottom: 1.25rem;
  }

  .calculator-card {
    // position: relative;
    max-width: 942px;
    margin: 0 auto;
    box-shadow: 0px 20px 40px hsla(261, 68%, 28%, .2);
    border-radius: 1rem;
  }

  .hashrate-calculator {
    background-color: #FBFCFE;
    border-radius: 16px 16px 0px 0px;
  }

  form {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .input,
  .select {
    background-color: transparent;
    outline: 2px solid transparent;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    color: $primary-bg;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;
    height: 38px;
    width: 100%;
  }

  .input::placeholder {
    color: $primary-bg;
  }

  .select {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
  }

  .hashrate-btn {
    font-size: 1.125rem;
    display: flex;
    align-self: flex-start;

    &:hover {
      background-color: #2967e2;
    }
  }

  .estimate-bg {
    background: #FFFFFF;
    border-radius: 0px 0px 16px 16px;
  }

  .estimate {
    padding: 1.5rem;
    width: 100%;
  }

  .blue-text {
    color: $accent;
    
  }

  .value {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
  }
}
// Earnings Section Ends

// Cryptocurrencies Section Starts
.cryptocurrencies {
  background-color: #FFFFFF;

  .cryto-coins {
    padding-top: 300px;
    padding-bottom: 3rem;
    text-align: center;
  }

  .crypto-heading {
    max-width: 741px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
  }

  .card-flex {
    gap: 3rem;
  }

  .bit-card,
  .card {
    max-width: 370px;
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    padding: 3rem 1.5rem;
  }

  .card-content {
    flex-direction: column;
    gap: 2rem;
  }

  .coin-logo {
    margin-bottom: 1rem;
  }

  .coin-name {
    font-size: 2rem;
    font-weight: 700;
    line-height: 150%;
  }

  .sup-caps {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 150%;
    color: #bdbdbd;
    vertical-align: middle;
  }

  .desc {
    font-size: 1rem;
  }

  .bit-card {
    background-color: $secondary-bg;
    color: #fff;

    .btn {
      font-size: 1.125rem;
    }
  }

  .card {
    background-color: #fff;
    mix-blend-mode: multiply;
    box-shadow: 0px 20px 40px hsla(261, 68%, 28%, .2);
  }

  .arrow-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
// Cryptocurrencies Section Ends

// Features Section starts
.features-bg {
  background-color: $secondary-bg;
  position: relative;

  .features {
    padding-top: 4rem;
  }

  .features-heading {
    max-width: 758px;
    margin-bottom: 3rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .flex-item {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .smart-invest,
  .stats-details,
  .grow-profit {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    margin-bottom: 1.25rem;
  }

  .stats-btn {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .coin-chart {
    max-width: 580px;
  }

  .statistics-chart {
    max-width: 710px;
  }

  .coin-table{
    max-width: 680px;
  }

  .features-ribbon-1,
  .features-ribbon-2 {
    position: absolute;
  }

  .features-ribbon-1 {
    top: 0;
    left: 0;
  }

  .features-ribbon-2 {
    bottom: 0;
    right: 0;
  }
}
// Features Section Ends

// Newsletter Section Starts
.update-bg {
  background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
  position: relative;

  .update {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .update-card {
    max-width: 1200px;
    padding: 1.5rem 1.25rem;
    justify-content: space-between;
    gap: .5rem;
    background: $mining-bg;
    border-radius: 1rem;
    color: $neutral-white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .start-mining-text {
    width: 100%;
    max-width: 501px;
  }

  .headline {
    margin-bottom: 1.25rem;
  }

  .start-mining-para {
    max-width: 348px;
    margin-bottom: 1.25rem;
  }

  .subscribe-form {
    gap: 1.5rem;
    width: 100%;
    max-width: 566px;
  }

  .enter-email {
    font-size: 1rem;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.01rem;
    background-color: transparent;
    border: none;
    outline: 2px solid transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 28px;

    &::placeholder {
      color: $neutral-white;
    }
  }

  .subscribe-btn {
    background-color: $neutral-white;
    font-size: 1.125rem;
    display: flex;
    align-self: flex-start
  }

  .mining-ribbon-1,
  .mining-ribbon-2 {
    position: absolute;
  }

  .mining-ribbon-1 {
    top: 0;
    left: 1%;
  }

  .mining-ribbon-2 {
    bottom: 0;
    right: 1%;
  }

  .update-ribbon-1,
  .update-ribbon-2 {
    position: absolute;
  }

  .update-ribbon-1 {
    bottom: 0;
    left: 0;
  }

  .update-ribbon-2 {
    bottom: 0;
    right: 0;
  }
}
// Newsletter Section Ends
// MAIN ENDS


// FOOTER STARTS
footer {
  padding-top: 2rem;
  color: $neutral-white;
  position: relative;

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 4rem;
    place-items: center;
    text-align: center;
  }

  .quick-link,
  .resources {
    max-width: 200px;
  }

  .quick-link-heading,
  .resources-heading {
    margin-bottom: 1.5rem;
  }

  .menu-link {
    font-weight: 400;
    font-size: 1rem;
    line-height: 230%;
    margin-bottom: .5rem;

    a {
      padding: .5rem;

      &:hover {
        color: $mining-bg;
      }
    }
  }

  .payment-heading {
    margin-bottom: 2.5rem;
  }

  .payment-system-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .payment-icon {
    width: 96px;
    height: 64px;
    background-color: hsla(0, 0%, 88%, 0.05);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(0.9);

    &:hover {
      transform: scale(1);
    }
  }

  .copyright-contact {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .row-rev {
    gap: 2.5rem;
  }

  .social-icons {
    display: flex;
    gap: 2rem;
  }
  
  .social-icon:hover  {
    transform: translateY(-5px);
    transition: transform .1s ease-in-out;
  }

  // Scroll to top
  .scroll-to-top {
    position: relative;
  }

  .fa-angle-up {
    position: fixed;
    bottom: 3rem;
    right: .5rem;
    font-size: 25px;
    height: 50px;
    width: 50px;
    padding: .25rem;
    color: #b8b3b3;
    background-color: transparent;
    border: 2px solid #b8b3b3;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .25s ease-in-out;
    visibility: hidden;
    opacity: 0;

    &:hover {
      animation: none;
    }
  }

  // Keyframes
  @keyframes movebtn {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
// FOOTER ENDS